# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Git Projects'
      'submenu': [
        {
          'label': 'Toggle Projects List'
          'command': 'git-projects:toggle'
        }
      ]
    ]
  }
]
